---
layout: main
title: "effective java"
---

<!-- Page Content -->
<div class="container">
<div class="row">
<div class="col-lg-9 col-md-9 col-sm-9">
<div class="row">
</br>
</br>
{% for category in site.categories %}
{% if category[0] == "effective java" %}
{% for posts in category %}
{% for post in posts %}
{% if post != "effective java" %}
{% include post-info-without-comment.html %}{% endif %}
{% endfor %}
{% endfor %}
{% endif %}
{% endfor %}
</div>
<!-- /.articles row -->
</div>
{% include categoriesSidebar.html %}
</div>
</div>
<script>
$("a#cat_effective-java").addClass("active");
</script>
