<div class="text-center">
      <!-- page-header是Bootstrap内置页头组件 -->
      <div class="page-header">
        <h2><a class="post-list-title" href="{{ site.baseurl }}{{ post.url }} ">{{ page.title }}</a></h2>
      </div>
      <div class="blog-list-title">
            <h5>
                  <span class="glyphicon glyphicon-calendar post-list-meta" aria-hidden="true"></span> &nbsp;
                  <span class="post-list-meta">{{ page.date }}</span>
                  &nbsp | &nbsp
                  <span class="glyphicon glyphicon-tags post-list-meta" aria-hidden="true"></span> &nbsp;
                  {% for category in page.categories %}
                      <a role="button" class="btn btn-sky text-uppercase btn-xs" href="{{ site.baseurl }}{{ site.categories_dir }}{{ category  | replace: " ", "-"  }}.html">{{ category }}</a>
                  {% endfor %}
                  {% for tag in page.tags %}
                    <a role="button" class="btn btn-sky text-uppercase btn-xs" href="{{ site.baseurl }}{{ site.tags_dir }}{{ tag  | replace: " ", "-" }}.html">{{ tag }}</a>
                  {% endfor %}
                  &nbsp | &nbsp
                  <span id="busuanzi_container_page_pv" class="post-list-meta">
                      Viewed <span id="busuanzi_value_page_pv"></span> times
                  </span>
                  &nbsp | &nbsp
                  <span class="glyphicon glyphicon-comment post-list-meta" aria-hidden="true"></span> &nbsp
                  <a href="{{ site.baseurl }}{{ post.url }}#disqus_thread "></a>
            </h5>
        </div>
</div>
