---
layout: main
title: "Leetcode Solutions"
permalink: /leetcode.html
---

<sript>
<!-- leetcode css only in leetcode.html -->
<link href="{{ site.baseurl }}/assets/css/leetcode.css" rel="stylesheet">
</sript>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th><h3>{% increment counter %}</h3></th>
                  <th><h3>Link</h3></th>
                  <th><h3>Difficuty</h3></th>
                  <th><h3>Status</h3></th>
                </tr>
              </thead>
              <tbody>
                  {% for post in site.posts %}
                    {% if post.tags != nil %}
                        {% for tag in post.tags %}
                            {% if tag == 'leetcode' %}
                                <tr>
                                  <th class="col-md-1 col-sm-1" scope="row">{% increment counter %}</th>
                                  <th class="col-md-7 col-sm-11"><a class="leetcode-post-title" href="{{ post.url }}">{{ post.title }}</a></th>
                                  {% if post.level != nil %}
                                      {% if post.level == "easy" %}
                                          <th class="col-md-2 col-sm-6"><a class="btn btn-sunny" href="{{ post.url }}">EASY</button></th>
                                      {% elsif post.level == "hard" %}
                                          <th class="col-md-2 col-sm-6"><a class="btn btn-hot" href="{{ post.url }}">HARD</button></th>
                                      {% else %}
                                          <th class="col-md-2 col-sm-6"><a class="btn btn-sky" href="{{ post.url }}">MEDIUM</button></th>
                                      {% endif %}
                                  {% else %}
                                      <th class="col-md-2 col-sm-6"><a class="btn btn-sky" href="{{ post.url }}"><span class="glyphicon glyphicon-ok"></span> &nbsp; ACCEPTED</button></th>
                                  {% endif %}
                                  <th class="col-md-2 col-sm-6"><a class="btn btn-success" href="{{ post.url }}"><span class="glyphicon glyphicon-ok"></span> &nbsp; ACCEPTED</button></th>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                  {% endfor %}
                  <tr>
                    <th class="col-md-1 col-sm-1" scope="row">{% increment counter %}</th>
                    <th class="col-md-7 col-sm-11">To be continued ... </a></th>
                    <th class="col-md-2 col-sm-6"> </th>
                    <th class="col-md-2 col-sm-6"> </th>
                  </tr>
              </tbody>
            </table>
        </div>
    </div>
</div>
