<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- meta data for search engine -->
    {% include main-meta.html %}

    <title>{{ site.title }}</title>
    
    <!-- General CSS and JS files -->
    {% include styles-in-header.html %}


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    {% include nav.html %}
    <!-- Page Content -->
    {{ content }}

    <!-- /.container -->

    <!-- footer bar -->
    {% include footer.html %}

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>
    <!-- Disqus comment count plugin -->
    <script id="dsq-count-scr" src="//www-ciaoshen-com.disqus.com/count.js" async></script>
    <!-- 不蒜子网站流量计数器 -->
    <script async src="//dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>



</body>

</html>
